[Desktop Entry]
Name=Simply FRP GUI
GenericName=FRP Tunnel Manager
Comment=A lightweight desktop GUI for managing FRP tunnels
Exec=simply-frp-gui %U
Icon=com.ryonwhyte.SimplyFrpGui
Terminal=false
Type=Application
StartupWMClass=simply-frp-gui
Categories=Development;Network;Utility;
Keywords=frp;tunnel;proxy;reverse proxy;port forwarding;networking;
